/* General setup */
* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0 auto;
      min-width: 1000px;
      max-width: 1400px;
      letter-spacing: 0px;
      word-spacing: 0px;
      }
      
      /* Layout */
      
      section {
      float: left;
      width: 50%;
      }
      
      aside {
      float: left;
      width: 30%;
      }
      
      nav {
      float: left;
      width: 20%;
      }
      
      footer {
      clear: both;
      }
      
      header, section, aside, nav, footer {
      padding: 20px;
      }
      
      /* header and footer */
      
      header, footer {
      border-top: 5px solid #a66;
      border-bottom: 5px solid #a66;
      }
      
      /* Add the font "Fredoka" with a uniquifier and weight */
      .fredoka-1 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
      
      /* h1 and h2 styles */
      h1 {
      font-size: 3rem;
      letter-spacing: 2px;
      font-family: "Fredoka", sans-serif;
      font-weight: 400;
      }
      h2 {
      font-size: 3em;
      letter-spacing: 1.5px;
      font-family: "Fredoka", sans-serif;
      font-weight: 400;
      }
      
      /* p and li styles */
      p, li {
      line-height: 1.5em;
      }
      
      /* first paragraph indent */
      p:first-child {
      text-indent: 20px;
      }
      
      /* link styles */
      a:hover, a:focus {
      color: rgb(228, 86, 86);
      text-decoration: none;
      font-weight: bolder;
      }
      
      a:link {
      color: #a66;
      }
      
      a:active
      {
      color: rgb(231, 47, 47);
      font-weight: 850;
      }
      
      /* Example usage of the new font class */
      p.fredoka-1 {
        font-size: 1rem;
        line-height: 1.5em;
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
      }