body {
  margin: 0;
  padding: 0;
  transition: background-color 1s ease;
  
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background: #F7C1C1;
  text-shadow: 4px 3px 0px #7A7A7A;
  color: #FFFFFF;
  background: #F7C1C1;
  border: none;
  cursor: pointer;
  border-radius: 10px;}



.content {
  display: none;
  padding: 20px;
}